@font-face {
    font-family: "quicksand-regular";
    src: url("/assets/fonts/quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "quicksand-semibold";
    src: url("/assets/fonts/quicksand/Quicksand-SemiBold.ttf");
}

@font-face {
    font-family: "quicksand-bold";
    src: url("/assets/fonts/quicksand/Quicksand-Bold.ttf");
}




