// COLOR PALETTE

// font
$mainFont: #272626;
// #584f4f

$mediumPurple:#c6aaf4;
$clearPurple: #b48af6;

//transparent
$mainTraPurple: #6200ff; 
$mediumTraPurple: #6200ff6c;
$clearTraPurple: #6200ff4a;

$mainGray: #bababa;
$niceGray: rgb(219, 216, 216);
$clearGray: #cccccc5d;
$exClearGray: #cccccc4a;

